.App {
  font-family: Arial, sans-serif;
}

.titlepage {
  text-align: center;
  padding-bottom: 60px;
}

.titlepage h2 {
  font-size: 50px;
  color: #382d3c;
  line-height: 55px;
  padding: 0;
}

.blu {
  color: #0eadef;
}

.read_more {
  font-size: 17px;
  background-color: transparent;
  border: #00aeef solid 5px;
  color: #010a05 !important;
  padding: 13px 0px;
  width: 100%;
  max-width: 210px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  border-radius: 40px;
  font-weight: 500;
}

.read_more:hover {
  background: #009c15;
  color: #fff !important;
  transition: ease-in all 0.5s;
}
